body {
    margin: 20px;
}

/* card */
.card {
  border: 1px solid currentColor;
  display: grid;
  grid-template-columns: minmax(200px, 1fr);
  grid-template-rows: repeat(4, auto);
  padding: 16px;
  gap: 16px;

  figure {
    aspect-ratio: 2 / 1;

    img {
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;
      object-position: 50% 40%;
    }
  }

  p {
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: -0.02em;
  }

  a {
    background: darkblue;
    color: white;
    justify-self: end;
    padding: 16px;
    border-radius: 4px;
  }
}

/* cards layout */
.cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-template-rows: repeat(4, auto);
  gap: 16px;

  .card {
    grid-template-rows: subgrid;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-row: span 4;
  }
}