body {
  margin: 20px;
}

h1,
.control {
  margin-block: 16px;
}

.post {
  box-shadow: 0 0 0 5px currentColor;
  container: euid / inline-size;
  /* container-type: inline-size;
  container-name: euid; */
  /* inline-size: 300px; */
}

.bootcamp {
  inline-size: 400px;
}

.card {
  background: #ffc;
  padding: 20px;

  h2 {
    color: red;
  }

  @container euid (width>=600px) {
    background: #fcf;

    h2 {
      color: green;
    }
  }
}

/* 레이아웃 */
.wrapper {
  box-shadow: 0 0 0 5px currentColor;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  .cell {
    container-type: inline-size;
  }
}
