:root{
  --white: #fff;
  --green-100: #03CC5C;
  --green-200: #1BF008;
  --green-300: #03CCA8;
  
  --blue-100: #e9f0fd;

  --gray-100: #BCC3C7;
  --gray-200: #9B9A90;
  --gray-300: #6D7478;

  --red-100: #FF0000;

  --primary-color: var(--green-100);
  --start-color: var(--green-200);
  --end-color: var(--green-300);
  --active-color: var(--blue-100);
}

body {
    margin: 20px;
}

/* logo component */
.logo {
    display: inline-flex;
    inline-size: min(51.25%, 230px); /* clamp (164px, 51.25%, 203px) clamp (min, mid, max)*/

    @media (min-width: 768px) { /* @media (width >= 768px) */
        inline-size: 230px;
    }
}

/* button component */
.button {
  border: 0 none;
  display: inline-flex;
  flex-flow: row nowrap;
  padding: 1rem;

  &.button-fill {
    background: var(--primary-color);
    color: var(--white);
  }

  &:disabled {
    background: var(--gray-200);
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus,
  &:not(:disabled):active {
    background: var(--green-300);
  }
}

/* checkbox component */
/* background img + svg img */
.checkbox {
  --size: 24px;
  --gap: 4px;

  position: relative;
  display: inline-flex;

  input {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    margin: 0;
    inline-size: var(--size);
    block-size: var(--size);
    appearance: none;
  }

  label {
    block-size: var(--size);
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &.bg-icon {
    label {
      background: url(/src/assets/naver/unchecked.svg) no-repeat;
      padding-inline-start: calc(var(--size) + var(--gap));
    }

    input:checked + label {
      background-image: url(/src/assets/naver/checked.svg);
    }
  }

  &.svg-icon {
    label {
      column-gap: var(--gap);
    }

    input:checked + label {
      .area,
      .border {
        fill: var(--green-100);
      }

      .marker {
        fill: var(--white);
      }
    }
  }
}

/* text link */
.textlink-new {
  font-weight: 700;
}

/* switch */
.switch {
  position: relative;
  display: inline-flex;

  input {
    position: absolute;
    margin: 0;
    inset: 0;
    appearance: none;
  }

  label::after {
    content: 'OFF';
    color: var(--gray-200);
  }

  input:checked + label::after {
    content: 'ON';
    color: var(--green-100);
  }
}

/* text input */
.input {
  --size: 72px;

  background: yellow;
  block-size: var(--size);
  display: inline-flex;
  flex-flow: row wrap;
  align-content: space-between;

  input {
    inline-size: 100%;
    block-size: 48px;
    border: 1px solid var(--gray-200);
    padding-inline-start: 0.5em;

    &:read-only {
      background: var(--gray-100);
      
    }
  }

  .error-message {
    color: var(--red-100);
    font-size: 0.625rem;
    background: pink;
    visibility: hidden;
  }

  input:user-invalid + .error-message {
    visibility: visible;
  }  
}
