body {
  margin: 20px;
}

.card {
  border: 1px solid currentColor;
  padding: 16px;
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;

  figure {
    inline-size: 100%;

    img {
      inline-size: 100%;
      aspect-ratio: 2 /1;
      object-fit: cover;
      object-position: 50% 20%;
    }
  }

  @container (width >=600px) {
    flex-flow: row wrap;

    h2 {
      inline-size: 100%;
    }

    figure {
      flex: 2 1 0;
    }

    p {
      flex: 1 1 0;
    }
  }
}

/* bootcamp */
.bootcamp {
  display: flex;
  flex-flow: column nowrap;
  /* gap: 16px; */

  @media (width>=600px) {
    flex-flow: row wrap;

    .cell {
      inline-size: 50%;
      container-type: inline-size;
    }
  }
}

/* likelion */
.likelion {
  display: flow-root;
  container-type: inline-size;

  .card {
    float: inline-start;
    inline-size: 70%;
    margin-inline-end: 16px;
  }
}
