.container {
  background: #ffc;
  min-block-size: 100vh;

  .header {
    background: #ada;
  }

  .main {
    background: #aad;
  }

  .book {
    background: #dad;
  }

  .news {
    background: #fcf;
  }

  .board {
    background: #cfc;
  }

  .favorite {
    background: #ccf;
  }

  .twitter {
    background: #fcc;
  }

  .footer {
    background: #ada;
  }
}

/* container */
/* .container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
} */

/* hearder & main & footer */
/* .header,
.main,
.footer {
  max-inline-size: 1200px;
  inline-size: 100%;
} */

/* header & footer */
/* .header,
.footer {
  block-size: 100px;
  flex: 0 1 auto;
} */

/* header */
/* .header {
} */

/* main */

/* .main {
  flex: 1 1 0;
  display: flex;
  flex-flow: row wrap;

  .book,
  .news,
  .board,
  .favorite,
  .twitter {
    inline-size: 100%;
  }

  @media (width>=960px) {
    .book {
      inline-size: 35%;
    }

    .news {
      inline-size: 65%;
    }

    .board {
      inline-size: 35%;
    }

    .favorite {
      inline-size: 20%;
      order: 1;
    }

    .twitter {
      inline-size: 45%;
    }
  }
} */

/* footer */
/* .footer {
} */

/* Grid Layout */
.container {
  display: grid;
  grid-template-columns: [full-start] 20px [content-start] 1fr [content-end] 20px [full-end];
  grid-template-rows: 100px repeat(5, 1fr) 100px;

  .header,
  .book,
  .news,
  .board,
  .favorite,
  .twitter,
  .footer {
    grid-column: content;
  }

  .main {
    display: contents;
  }

  @media (width>=960px) {
    grid-template-columns: [full-start] 1fr [content-start] repeat(12, minmax(62px, 1fr)) [content-end] 1fr [full-end];
    grid-auto-rows: auto;
    gap: 16px;

    .book {
      grid-column: content-start / span 4;
    }

    .news {
      grid-column: span 8;
    }

    .board {
      grid-column: content-start / span 4;
    }

    .twitter {
      grid-column: span 6;
    }

    .favorite {
      grid-column: span 2;
      order: 1;
    }

    .footer {
      order: 1;
    }
  }
}